@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
.clearfix::after{content:'';display:block;clear:both;}
:root{font-family:'Noto Sans KR', sans-serif;font-weight:400;font-size:15px;font-style:normal;color:#333;}
.wrapper{width:100%;height:100%;overflow:hidden;}
.container{max-width:1220px;margin:0 auto;padding:100px 20px;}
.sec-tit,.sub-tit{margin-bottom:36px;font-weight:700;font-size:30px;color:#666;text-align:center;}
.sub-tit{margin-bottom:26px;color:#333;}
.section.i-am .contents, .section.skill .contents{display:flex;flex-flow:row wrap;justify-content:space-between;}
.contents>*{width:100%;}