@charset 'utf-8';

.footer{
    background-color:#000;
}
.footer .container{
    padding-top:1em;
    padding-bottom:1em;
}
.footer *{
    color:#fff;
}
.footer-tit{
    font-size:1.4em;
}
.footer-e-mail{
    margin-bottom:6px;
}
.git{
    width:200px;
    height:40px;
    border:2px solid #fff;
    border-radius:20px;
    text-align: center;
    line-height:40px;
}