@charset 'utf-8';
/* 인트로 스타일 */
.section.intro{height:102.7777777777778vw;max-height:600px;margin-top:96px;overflow:hidden;position:relative;z-index:1;}            
.section.intro .container{padding-top:0;padding-bottom:0;}
.section.intro figcaption{font-size:0;}
.section.intro video{width:100%;height:100%;opacity: 0.7;position:absolute;left:0;top:0;z-index:-100;object-fit:cover;}
.intro-txt{padding:20px;color:#fff;font-weight:500;display:flex;flex-flow:column nowrap;justify-content:center;}
.intro-txt h2{padding:10px 0;font-size:60px;}
.intro-txt p{padding:10px 0;font-size:16px;line-height:24px;}

@media(min-width:768px){
    .section.intro{margin-top:92px;}
    .intro-txt h2{top:156px;font-size:100px;}
    .intro-txt p{top:320px;}
}

@media(min-width:1220px){
    .section.intro{margin-top:0;}
}