@charset 'utf-8';
/* Reset */
*{box-sizing:border-box;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-weight:inherit;font-size:inherit;}
b,strong{font-weight:inherit;}
i,address{font-style:inherit;}
ul,ol,li{list-style:none;}
a{text-decoration:none;color:inherit;}
img{vertical-align:top;width:100%;}